.search-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.book {
  width: 300px;
  height: 350px;
  background-color: rgb(242 242 242);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(187, 187, 187);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book button {
  margin-top: 5px;
}
