<!-- Input search -->
<div class="search-container">
  <h2>Search Results</h2>
  <mat-form-field>
    <input
      class="search-input"
      matInput
      type="text"
      (keydown)="onKeyDown($event)"
      [formControl]="myControl"
      placeholder="Enter a search term"
      required
      [matAutocomplete]="auto"
    />
    <button
      *ngIf="myControl.value"
      matSuffix
      mat-icon-button
      (click)="myControl.reset()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <!-- [displayWith] viene utilizzato per personalizzare la visualizzazione dei dati all'interno di un menu a discesa mat-select. Questo
      attributo accetta una funzione che definisce come i dati devono essere visualizzati nel menu a discesa. -->
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayTitle">
      <mat-option
        class="autocomplete-option"
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option.title }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <!-- Button search -->
  <button
    class="button-search"
    mat-raised-button
    color="primary"
    (click)="searchBooks()"
    [disabled]="!myControl.value"
  >
    Search
  </button>

  <ng-template *ngIf="!isEmpty(); then listContainer; else messageContainer">
  </ng-template>

  <ng-template #messageContainer>
    <mat-card>
      <mat-card-content>
        <span style="font-weight: bold; font-size: 18px; color: #3f51b5"
          >App realizzata in ANGULAR</span
        >
        <br /><span style="color: #3f51b5">&#x25CF; </span>Potrai ricercare
        libri tramite titolo
        <br />
        <span style="color: #3f51b5">&#x25CF; </span>Una volta cercato leggere i
        dettagli <br /><span style="color: #3f51b5">&#x25CF; </span> Aggiungerlo
        ai preferiti <br /><span style="color: #3f51b5">&#x25CF; </span>
        Controllare la tua lista preferiti <br /><span style="color: #3f51b5"
          >&#x25CF;
        </span>
        Rimuovere i libri dai preferiti</mat-card-content
      >
    </mat-card>
  </ng-template>

  <ng-template #listContainer>
    <!-- Book List -->
    <div class="book-list">
      <div class="book" *ngFor="let book of searchResults$ | async">
        <h3>{{ book?.volumeInfo.title }}</h3>

        <p>{{ book.volumeInfo.authors?.join(", ") }}</p>
        <!--   <p>{{ book.volumeInfo.description }}</p> -->
        <img [src]="book?.volumeInfo.imageLinks?.thumbnail" />
        <button mat-raised-button (click)="showDetails(book.id)">
          Dettagli
        </button>
        <button mat-raised-button (click)="addToFavoriteBooks(book)">
          Add to favorite
        </button>
      </div>
    </div>

    <!-- book.volumeInfo.authors?.join(", ")
   L'operatore ? viene utilizzato per verificare se l'array authors esiste e non è nullo prima di eseguire il join(). Jois serve per combinare gli
   elementi dell'array degli autori in una singola stringa separata da virgole per visualizzare correttamente gli autori nel formato desiderato.
-->
  </ng-template>
</div>
