.mat-tab-group {
  align-items: center;
  margin: 10px;
}

.fav-tab {
  overflow: hidden;
  margin: 0 30px;
}

nav {
  display: flex;
  justify-content: center;
  margin-block: 10px;
}

a {
  padding: 15px 5px;
  text-align: center;
  min-width: 160px;
  text-decoration: none;
  color: rgb(163, 163, 163);
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
a:hover {
  background-color: aliceblue;
}

a.active {
  box-shadow: inset 0 -2px 0 #3f51b5;
  color: rgb(32, 32, 32);
}
